* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --primary-color: #084177;
}

.navbar-dark {
  border-bottom: 1px solid white;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./../img/background.jpg');
}

.section-title {
  margin: 10px 0 50px 0;
  color: var(--primary-color);
  font-weight: bolder
}

.card, .tab-pane {
  margin: 10px 0;
}

#mainNavigation nav{
  margin-left: auto;
}

.bg-dark {
  background: linear-gradient(143deg, #084177, rgb(49, 63, 172))
}

.bg-transparent{
  background: linear-gradient(143deg, #084177, rgb(130, 142, 232))
}

.btn {
  border-radius: 10px;
  transition: all .5s ease;
}

.btn-primary {
  background: linear-gradient(143deg, #084177, rgb(130, 142, 232));
}


.btn-primary:hover {
  background: linear-gradient(143deg, #095dac, rgb(103, 159, 243));
}

.btn-danger {
  background: linear-gradient(143deg, #77081c, rgb(218, 5, 26));
}

.card .btn:last-child {
  margin-left: 15px
}

.append .btn {
  border-radius: 0 0 0 0;
}

.card {
  transition: all ease .3s
}

.to-delete {
  opacity: 4;
}